<div class="center hero-unit">
  <h1>Farkle Game Server</h1>

  <h2>
    This is the administrative interface for Farkle.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <%= link_to image_tag("dice2.png", alt: "Farkle"), 'http://rubyonrails.org/' %>

</div>

